@import "tailwindcss";

@theme {
  --color-primary: #3F58D4;
  --color-primary-dark: #3043A1;
  --color-primary-soft: #F2F4FC;

  --color-danger: #E0024B;
  --color-danger-soft: #FCF3F6;
  --color-warn: #F0651F;
  --color-warn-soft: #FDECE4;
  --color-caution: #E5A900;
  --color-caution-soft: #FFF8E5;
  --color-ok: #24A960;
  --color-ok-soft: #F3FDF7;

  --color-text: #333333;
  --color-sub: #757575;
  --color-line: #DDDDDD;
  --color-bg: #F5F6F8;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}